*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
header{
	background-color: rgb(49, 134, 209);
	position: fixed;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
}
nav{
	
}
nav li{
	display: inline-block;
	padding: 10px;
}
nav li a{
	text-decoration: none;
	background-color: black;
	color:white;
	padding: 5px;
	border-radius: 10px;
}
nav li a:hover{
	background-color: rgb(103, 99, 209);
	color:white;
	transition: all 300ms;
}
main{
	height: 70vh;
	width: 100%;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.contenedor-img{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contenedor-img img{
	height: 100px;
}
.contenedor-texto{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(17, 17, 17, 0.509);
}
.logo img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
footer{
	width: 100%;
	height: 70px;
	background-color: rgba(0, 0, 0, 0.253);
}